/* Enlève les marges et paddings par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fond du site en général + police */
body {
    background-color: #e8ddc5;
    font-family: "Roboto", sans-serif;
}

/* Bloc du logo en haut de page */
.logo-site {
    margin: 30px;
    padding: 15px;
    border: 3px solid #004ba1;
    border-radius: 12px;
    background-color: #f2e4c8;
    color: #1a1a1a;
    box-shadow: 3px 3px 8px black;
}

/* Titre de chaque section */
.titre-section {
    text-align: center;
    margin: 30px;
    padding: 30px;
    border: 3px solid #00489a;
    border-radius: 12px;
    background-color: #c89c48;
    color: white;
    box-shadow: 3px 3px 8px black;
    font-size: 32px;
}

/* Conteneur des cartes (les bordures) */
.conteneur-cartes {
    border: 3px solid #004593;
    border-radius: 12px;
    margin: 30px;
    padding: 30px;
    background-color: #f3e5ca;
    box-shadow: 3px 3px 8px black;
    display: flex;
}

/* Style des cartes */
.carte {
    width: 230px;
    margin: 25px;
    padding: 15px;
    text-align: center;
    border: 2px solid black;
    border-radius: 12px;
    background-color: #0077ff;
    color: white;
    box-shadow: 3px 3px 8px black;
}

/* Image dans la carte */
.carte img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 10px;
    border: 2px solid black;
}

/* Texte dasn la carte */
.carte p {
    font-size: 16px;
    margin-top: 10px;
}

/* Lien de changement de page (précédent et suivant) */
.changement-de-page {
    text-align: center;
    margin: 30px;
}

.changement-de-page a {
    font-size: 24px;
    color: white;
    font-family: "Roboto", sans-serif;
    border: 2px solid #0077ff;
    border-radius: 8px;
    padding: 8px 20px;
    background-color: #c89c48;
}

/* Effet quand on passe la souris sur le lien */
.changement-de-page a:hover {
    background-color: #0053b2;
    color: white;
}